body {
    margin: 2rem;
    background-color: magenta;
    font-family: 'Times New Roman', Times, serif;
}

div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: rgb(65, 16, 156);
    width: 600px;
    border: 4px solid white;
    border-radius: 2px;
    height: 200px;
    justify-content: center;
    padding: 0.9rem;
    margin: 0 auto;
}

img {
    width: 250px;
    height: 190px;
    border: 1px;
    border-radius: 3px solid green;
    margin: 0 auto;
}

p {
    width: 60%;
}

p,
h2 {
    margin-left: 0.3rem;
}